$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html {}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid white;
  color: white;
  border-collapse: collapse;
}

td { 
  text-align: left;
  padding: 5px;
  /* Space between rows*/
    //padding-top: 5px;
    //padding-bottom: 5px;
}


a {
  color: white;
}

a:hover {
  color: #0f1723;
}

h1 {
  font-weight: 100;
  letter-spacing: 3;
  font-size: 34px;
}

p {
  font-weight: 200;
    letter-spacing: 1;
}

ul {
  list-style: none;
}

.app {
  background: url(../images/esjan-winter.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvatica Neue', sans-serif;
}

.prof-box {
  width: 400px;
  height: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  color: white;
  margin: 0 auto; /* Center the container*/
  margin-top: 50px;
  text-align: center;
}

.prof-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.cv-box {
  width: 600px;
  height: 700px;
  background: rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 40px;
  color: white;
  margin-top: 15px;
}

.tab-box {
  //width: 80%;
  width: 800px;
  height: 680px;
    background: rgba(0,0,0,0.4);
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.card {
  width: 750px;
  height: 220px;
  border: 1px solid white;
  color: white;
  border-collapse: collapse;
  background: rgba(0,1,0,0.4);
  padding: 0px;
  margin-bottom: 10px;
}

.tab-content {
  padding: 5px;
}

.nav-tabs > li > a {
    font-weight: bold;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: black;
    font-weight: bold;
}

.cv-date {
  //width: 22%;
  font-size: 90%;
  width: 125px;
  vertical-align: top;
}

.cv-info {
  //text-indent: 130px;
  font-size: 80%;
}

.leftCell {
  vertical-align: top;
  padding-top: 10px;
  font-weight: bold;
}

.social-icons {
  font-size: 30px;
}

.social-icons a {
  color: white;
}

.social-icons a:hover {
  color: #0f1723;
}

.line-break {
  width: 350px;
  border-top: 1px solid white;
  margin: 0 auto;
}

.formContainer {
  width: 350px;
  height:250px;
  margin-top: 100px;
}

.imgContainer {
  //overflow: hidden;

  //width: 200px;
  //height: 180px;
  //border: 1px solid red;
  //padding: 50px;
    //float: right;
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
